@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'Fredoka One',sans-serif;
    box-sizing: border-box;
    background-color: dodgerblue;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
}

header{
    color: #FAB201;
    font-size: 7vw;
    /* text-align: center; */
    -webkit-text-stroke: 7px white;
    /* margin-top: 0.8em; */
    
}

.grid-container{
    display: grid;
    grid-template-columns: repeat(3,31.5%);
    grid-template-rows: repeat(3,31.5%);
    gap: 2.75%;
    height: 24vw;
    width: 24vw;
    /* margin-top: 40px; */
}

.grid-element{
    background-color: white;
    border-radius: 9%;
    box-shadow: 3px 3px gray;
}

footer{
    color: white;
    -webkit-text-stroke: 1.5px white;
    /* margin-top: 35px; */
    font-size: 24px;
    letter-spacing: 2px;
    
}
